<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Цвет фона</title>
</head>
<body bgcolor="#99ffcc">
<pre style="text-align:center">
<span style="font-size:26px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#333399"><strong>Регистрация</strong></span><span
        style="color:#d38400"><strong> </strong></span></span></span>
</pre>

<form method="POST" modelAttribute="userForm">
<span style="font-size:26px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#333399">
    <strong>Логин
    <label><input maxlength="50" name="name" size="30" type="text" path="username" placeholder="Username"
                  autofocus="true"/></label>
    <span dir="rtl">Пароль</span>
    <label><input maxlength="20" name="password" size="30" type="password"
                  placeholder="Password"/></label></strong></span></span></span>
</form>
<button type="submit">Зарегистрироваться</button>
<a href="/">Главная</a>
</body>
</html>
