<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Цвет фона</title>
</head>
<body bgcolor="#99ffcc">
<pre style="text-align:center">
<span style="font-size:26px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#333399"><strong>Регистрация</strong></span><span
        style="color:#d38400"><strong> </strong></span></span></span>
</pre>

<hr/>
<pre style="text-align:center">
<span style="text-align:center" style="font-size:26px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#333399">
    <strong>Имя
    <input maxlength="20" name="Login" required="required" size="30" type="text"/>
    <span dir="rtl">Почта</span>
    <input maxlength="20" name="password" required="required" size="30" type="password"/>
     <span dir="rtl">Логин</span>
    <input maxlength="20" name="password" required="required" size="30" type="password"/>
    <span dir="rtl">Пароль</span>
    <input maxlength="20" name="password" required="required" size="30" type="password"/></strong></span></span></span>
</pre>
</body>
</html>
