<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Цвет фона</title>
</head>
<body bgcolor="#99ffcc">
<pre style="text-align:center">
<span style="font-size:26px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#333399"><strong>Регистрация</strong></span><span
        style="color:#d38400"><strong> </strong></span></span></span>
</pre>

<pre style="text-align:center">
<span style="font-size:26px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#333399">
    <strong>Имя
    <label><input maxlength="50" name="name" required="required" size="30" type="text"/></label>
    <span dir="rtl">Почта</span>
    <label><input maxlength="50" name="email" required="required" size="30" type="email"/></label>
    <label><input maxlength="50" name="login" required="required" size="30" type="text"/></label>
    <label><input maxlength="20" name="password" required="required" size="30" type="password"/></label></strong></span></span></span>
       <p><input type="button" value=" Зарегистрироваться "></p>
</pre>
</body>
</html>
