<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Цвет фона</title>
</head>
<body bgcolor="#99ffcc">
<pre dir="rtl" style="text-align:center">

<span style="color:#ffffff"><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="font-size:28px"><strong><span>Рады снова Вас видеть! </span></strong></span></span></span>
</pre>

<pre dir="rtl" style="text-align:center">





<span style="color:#2980b9"><span style="font-size:26px"><span style="font-family:Tahoma,Geneva,sans-serif"><strong> </strong></span></span><span style="font-size:22px"><span style="font-family:Tahoma,Geneva,sans-serif"><strong>Введите логин </strong></span></span></span><span style="font-size:26px"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="color:#2980b9"><strong> </strong></span><span style="color:#d35400"><strong> </strong></span></span>
<span style="font-family:Comic Sans MS,cursive"><span style="color:#d35400"><strong><input maxlength="20" name="Login" required="required" size="30" type="text" /> 

</strong></span></span></span><span style="color:#2980b9"><span style="font-size:22px"><span style="font-family:Tahoma,Geneva,sans-serif"><strong><span dir="rtl">Введите пароль</span></strong></span></span></span>
<span style="font-size:26px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#d35400"><strong><input maxlength="20" name="password" required="required" size="30" type="password" /></strong></span></span></span>
<p><span style="font-size:26px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#d35400"><strong></strong></span></span></span></p>
   <p><input type="button"  value=" Зарегистрироваться "></p>
</pre>
</body>
</html>
